body {
    margin: 0;
    font-family: "Lato", sans-serif;
}
 
 h1{
      
     color: rgb(0, 0, 0);
     font-family: 'Courier New', Courier, monospace;
     background-color: rgb(69, 53, 209);
     margin-right: auto;
     padding-left: 41%;
     height: 65px;
      
 }
 a{
    margin-block-end: auto;
    color: rgb(2, 75, 6);
    font-family: 'Courier New', Courier, monospace;
   
}
p{
    margin-block-end: auto;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    padding-block: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
body{
    background-color:seashell;
}
 
.bild{
    float: right;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #316391;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }}